<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">HP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['schedule']">Fill Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['history']">View History</a>
      </li>
      <li class="nav-item" *ngIf="currentUser.role === 'manager' || currentUser.role === 'admin' ">
        <a class="nav-link" [routerLink]="['manager/submit']">Submit Shifts</a>
      </li>
      <li class="nav-item" *ngIf="currentUser.role === 'salary' || currentUser.role === 'admin' ">
        <a class="nav-link" [routerLink]="['salary/addEmployee']">Add Employee</a>
      </li>
      <li class="nav-item" *ngIf="currentUser.role === 'salary' || currentUser.role === 'admin' ">
        <a class="nav-link" [routerLink]="['salary/statistics']">Statistics</a>
      </li>
    </ul>
    <span class="navbar-text">

    </span>
  </div>
</nav>
