<ng-template #content let-modal>
        <div class="text-center">
          <h4  class="modal-title" id="modal-basic-title">תאריך נוכחות בעבודה</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="text-right">
              <label for="dateOfBirth">:לחץ על הכפתור השחור</label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" [(ngModel)]="model"  (ngModelChange)="select(model)"  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-dark" (click)="dp.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close(dp)">שמור</button>
        </div>
      </ng-template>
      
      <button class="btn btn-outline-dark" (click)="open(content)">בחר תאריך</button>