<mat-card>
    <div class="datepicker-container">
        <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="בחר חודש ושנה" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
        <button mat-button (click)="showShifts()"> הצג משמרות</button>
    </div>
</mat-card>
<!--     המציג את בחירת החודש והשנה אותם בחר המשתמש לפי הפונקציות הקיימות בקומפננטה ובאמצעות הכפתור ״הצג משמרות״ מראהלמשתמש את כל המשמרות הקיימות לפי אותו תריך שבחר htmlדף ה   -->