
<div class="container marketing">
    <div class="row">
        <div class="col-md-4 text-center">
            <a [routerLink]="['/schedule']"><img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxaQF8FtYS5Ki2sJrt8zgb83-9M39kZ1e2SWYA9gVknBfrRS4y"></a>
            <h2>Fill Your Hours</h2>
            <p class="fill">מילוי שעות עבודה לפי חודש בשנה או לחלופין, עדכון על היעדרות מסויימת.ושליחתם למנהלת שכר וראש מחלקה</p>
        </div>
        <div class="col-md-4 text-center">
            <a [routerLink]="['/history']"><img class="img-circle" src="http://www.ide-india.org/sites/default/files/default_images/magnifieddoc-300x241.png"></a>
            <h2>View Your History Report</h2>
            <p class="view">צפייה בדוחו״ת שעות עבודה שמולאו בעבר</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGSq4ZSE1jIuVYAYMmt_IAkvbT8ROJbsFQCO6DOhqEyakyLyMa9Q">
            <h2>Personal Area</h2>
            <p class="personal">איזור אישי-צפייה בפרטים האישים ופנייה למנהלת שכר</p>

        </div>