<mat-card *ngIf="depStat !== undefined">
  <div class="container" *ngIf="index !== 3; else inTime">
    <div class="best">
      <h4>הכי הרבה {{options[index]}}</h4>
      <h6>מחלקה: {{depStat.maxID}} </h6>
      <p>{{depStat.maxCount}}</p>
    </div>
    <div class="graph" *ngIf="index !== undefined && depStat.maxCount !== undefined">
      <div class="maximum">
          <h1>{{(depStat.maxCount / (depStat.maxCount + depStat.minCount)).toFixed(1)*100}}%</h1>
      </div>
      <div class="minimum">
          <h1>{{(depStat.minCount / (depStat.maxCount + depStat.minCount)).toFixed(1)*100}}%</h1>
      </div>
    </div>
    <div class="less">
      <h4>הכי מעט {{options[index]}}:</h4>
      <h6>מחלקה: {{depStat.minID}} </h6>
      <p>{{depStat.minCount}}</p>
    </div>
  </div>

  <ng-template #inTime>
    <div class="container">
      <div class="best">
        <h4>הכי הרבה הגשות בזמן</h4>
        <h6>מחלקה: {{depStat.minID}} </h6>
        <p>{{depStat.maxCount}}</p>
      </div>
      <div class="graph" *ngIf="index !== undefined && depStat.maxCount !== undefined">
        <div class="maximum">
            <h1>{{(depStat.maxCount / (depStat.maxCount + depStat.minCount)).toFixed(1)*100}}%</h1>
          </div>
        <div class="minimum">
            <h1>{{(depStat.minCount / (depStat.maxCount + depStat.minCount)).toFixed(1)*100}}%</h1>
          </div>
      </div>
      <div class="less">
        <h4>הכי הרבה הגשות לא בזמן</h4>
        <h6>מחלקה: {{depStat.minID}} </h6>
        <p>{{depStat.minCount}}</p>
      </div>
    </div>
  </ng-template>
</mat-card>

<!--   של דף הסטטיסטיקה של מחלקה html דף ה -->
<!--תוך שימוש בפונקציונאליות הקיימות בקומפוננטה-->
<!--דף זה יציג באחוזים את שם המחלקה בה היה הכי הרבה/פחות מרצים במחלה,חופש,ביטלו שיעור,דיווחו בזמן-->