<div class="container">
  <h1>Fill yours hours</h1>
  <form [formGroup]="hourReportForm" (ngSubmit)="onSubmit()">
    <div class="table-responsive">
      <div class="bs-example" data-example-id="striped-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>תאריך</th>
              <th>שעת התחלה</th>
              <th>שעת סיום</th>
              <th>אי נוכחות מהסיבות הבאות</th>
              <th>מחק דיווח</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let report of hourReportForm.get('reports').controls;
                let i = index
              "
              [formGroup]="report"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <div class="timeContainer">
                  <app-modal-date-picker
                    [formControl]="getControl('date',i)"
                    ngDefaultControl
                  ></app-modal-date-picker>
                </div>
              </td>
              <td>
                <app-time-picker
                  [formControl]="getControl('start',i)"
                  ngDefaultControl
                ></app-time-picker>
              </td>
              <td>
                <app-time-picker
                  formControlName="end"
                  ngDefaultControl
                ></app-time-picker>
              </td>
              <td>
                <select class="form-control select-cause">
                  <option>בחר סיבה</option>
                  <option value="1">מחלה</option>
                  <option value="2">חופש</option>
                  <option value="3">ביטול שיעור</option>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-danger">
                  מחק
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <img
          src="https://icon-library.net/images/plus-button-icon/plus-button-icon-2.jpg"
          alt="plus button"
          class="img-circle btn--plus"
          (click)="addReport()"
        />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success">
        אישור דיווח
      </button>
    </div>
  </form>
</div>
