<div class="container">
  <h1>Fill yours hours</h1>
  <form [formGroup]="hourReportForm">
    <div class="table-responsive">
      <div class="bs-example" data-example-id="striped-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>תאריך</th>
              <th>שעת התחלה</th>
              <th>שעת סיום</th>
              <th>אי נוכחות מהסיבות הבאות</th>
              <th>תאריך דיווח</th>
              <th>שלח דיווח</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let report of hourReportForm.get('reports').controls;
                let i = index
              "
              [formGroup]="report"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <div class="timeContainer">
                  <app-modal-date-picker
                    formControlName="date"
                    ngDefaultControl
                  ></app-modal-date-picker>
                </div>
              </td>
              <td>
                <app-time-picker
                  formControlName="start"
                  ngDefaultControl
                ></app-time-picker>
              </td>
              <td>
                <app-time-picker
                  formControlName="end"
                  ngDefaultControl
                ></app-time-picker>
              </td>
              <td>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                     
                    
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          בחר סיבה
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="#">Dropdown link</a>
                          <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                      </div>
                    </div>
              </td>
              <td>
              </td>
              <td>
                  <button type="button" class="btn btn-success">אישור דיווח</button>
            </tr>
          </tbody>
        </table>
      </div>


      <img
        src="https://icon-library.net/images/plus-button-icon/plus-button-icon-2.jpg"
        alt="plus button"
        class="img-circle btn--plus"
        (click)="addReport()"
    >
    </div>
  </form>
</div>
