.container {
  min-width: 80vw;
  min-height: 100vh;
  border: 1px black solid;
 
  
}
.th{
  border:10px;
}
tr:nth-child(even) {background-color:WhiteSmoke;}


.btn--plus {
  width: 5%;
}
/* .btn--plus:hover {
  transform: scale(1.1);
} */

app-modal-date-picker {
  max-width: 20%;
}

.timeContainer {
    width: 10%;
    
}

.select-cause{

  width: 100%;
}