<mat-card *ngIf="lecStat !== null; else noResult">
  <div class="container" *ngIf="index !== 3; else inTime">
    <div class="best">
      <h4>:המרצה הכי גבוה לפי ניתוח סטטיסטי</h4>
      <h5>{{options[index]}}</h5>
      <h4>שם המרצה:{{lecStat.maxUser.firstName}} {{lecStat.maxUser.lastName}}</h4>
      <h6> {{lecStat.maxUser.department}} :מחלקה</h6>
      <p>{{lecStat.maxCount}}</p>
    </div>
    <div class="graph" *ngIf="index !== undefined && lecStat.maxCount !== undefined">
        <div class="maximum">
            <h1>{{(lecStat.maxCount / (lecStat.maxCount + lecStat.minCount)).toFixed(1)*100}}%</h1>
        </div>
        <div class="minimum">
            <h1>{{(lecStat.minCount / (lecStat.maxCount + lecStat.minCount)).toFixed(1)*100}}%</h1>
        </div>
    </div>
    <div class="less">
      <h4>:המרצה הכי נמוך לפי ניתוח סטטיסטי</h4>
      <h5>{{options[index]}}</h5>
      <h4>שם המרצה:{{lecStat.minUser.firstName}} {{lecStat.minUser.lastName}}</h4>
      <h6>{{lecStat.minUser.department}} :מחלקה </h6>
      <p>{{lecStat.minCount}}</p>
    </div>
  </div>

  <ng-template #inTime>
    <div class="container">
      <div class="best">
        <h4>המרצה בעל הכי נמוך הגשות בזמן</h4>
        <h4>{{lecStat.maxUser.firstName}} {{lecStat.maxUser.lastName}}</h4>
        <h6>מחלקה: {{lecStat.maxUser.department}} </h6>
        <p>{{lecStat.maxCount}}</p>
      </div>
      <div class="graph">
          <div class="maximum">
              <h1>{{(lecStat.maxCount / (lecStat.maxCount + lecStat.minCount)).toFixed(1)*100}}%</h1>
          </div>
          <div class="minimum">
              <h1>
                {{(lecStat.minCount / (lecStat.maxCount + lecStat.minCount)).toFixed(1)*100}}%</h1>
          </div>     
      </div>
      <div class="less">
        <h4>המרצה בעל הכי הרבה הגשות  בזמן</h4>
        <h4>{{lecStat.minUser.firstName}} {{lecStat.minUser.lastName}}</h4>
        <h6>מחלקה: {{lecStat.minUser.department}} </h6>
        <p>{{lecStat.minCount}}</p>
      </div>
    </div>
  </ng-template>
</mat-card>

<ng-template #noRes>
  <mat-card>
    <div class="no-result">
      אין נתונים להצגה
    </div>
  </mat-card>
</ng-template>
<!-- שמציג את הניתוחים הסטטיסטים של המרצים html דף ה-->
<!--  הדף בנוי תוך שהוא מציג את השם הפרטי והשם משפחה של אותו מרצה שיצא בניתוח הסטטיסטי הכי גבוהה או הכי נמוך ומציג באחוזיםאת הניתוח הסטטיסטי ומציג את הנתון הכי גבוהה או נמוך לפי הניתוח-->
<!-- החישוב מתבצע בצורה הבאה-הנתון הכי גבוהה-מחברים את הנתון הגבוהה ואת הנתון הנמוך ומחלקים אותו בנתון הכי גבוהה ואז כופלים ב100 כי לקבל את האחוז-->
<!-- נועד כדי להציג ספרה אחת אחרי הנקודה ולא לקבל נתון ארוך tofix -->