mat-card {
    margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.best, .less {
  display: flex;
  flex-direction: column;
  align-items: center;
}
