<mat-card>
  <div class="container">
    <div class="best">
      <h4>הכי הרבה {{options[index]}}:</h4>
      <h4>שם : {{lecStat.maxUser.firstName}} {{lecStat.maxUser.lastName}}</h4>
      <h6>מחלקה: {{lecStat.maxUser.department}} </h6>
      <p>{{lecStat.maxCount}}</p>
    </div>
    <div class="graph">
      <p>dsadasd asd a dasd s</p>
    </div>
    <div class="less">
      <h4>הכי מעט {{options[index]}}:</h4>
      <h4>שם: {{lecStat.minUser.firstName}} {{lecStat.minUser.lastName}}</h4>
      <h6>מחלקה: {{lecStat.minUser.department}} </h6>
      <p>{{lecStat.minCount}}</p>
    </div>
  </div>
</mat-card>
