<mat-card>
    <div class="container">
            <div class="best">
                    <h2>First & Last Name</h2>
                    <h4>Department </h4>
                    <p>Counter details</p>
                </div>
                <div class="graph">
            <p>dsadasd asd a dasd s</p>
                </div>
                <div class="less">
                        <h2>First & Last Name</h2>
                        <h4>Department </h4>
                        <p>Counter details</p>
                </div>
            </div>
</mat-card>