<mat-card>
    <form [formGroup]="shiftForm" class="container" (ngSubmit)="onSubmit()">
        <div>
            <div class="choosedate">בחר תאריך</div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="!checked">
            <div class="start">שעת התחלה</div>
            <mat-form-field>
                <input matInput name="end" formControlName="start" type="time">
            </mat-form-field>
        </div>
        <div *ngIf="!checked">
            <div class="ende">שעת סיום</div>
            <mat-form-field>
                <input class="col-md-5 end" matInput name="end" formControlName="end" type="time">
            </mat-form-field>
        </div>
        <div>
            <span class="mis"> היעדרות</span>
            <div>
                <mat-form-field>
                    <mat-label>בחר סיבה</mat-label>
                    <mat-select formControlName="absent">
                        <mat-option value="לא נעדר" (click)="markedChecked()" > </mat-option>
                        <mat-option value="מחלה" (click)="markedChecked()" >מחלה</mat-option>
                        <mat-option value="חופש" (click)="markedChecked()">חופש</mat-option>
                        <mat-option value="ביטול" (click)="markedChecked()">ביטול שיעור</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div class="report">הוסף דווח</div>
            <mat-icon (click)="onSubmit()">schedule</mat-icon>
        </div>
    </form>
</mat-card>
<!--      של הדף של ״דיווח משמרת״ הבנוי מבחירת תאריך,שעת התחלה,שעת סוף,היעדרות-אופציות שיפתחו למשתמש html דף ה-->
<!--   onSubmit שימוש בכפתור ״הוסף דיווח״ ושימוש בפונקציה   -->