<mat-card class="card-container">
  <div class="selector-container">
      <mat-form-field>
        <mat-label>בחר ניתוח סטטיסטי</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="datepicker-container">
    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="בחר חודש ושנה" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="showStats()"> הצג סטטיסטיקה</button>
  </div>
</mat-card>
