<div class="title">
    <h2>מעקב אחרי דיווח שעות של מרצה</h2>
</div>
<mat-card class="container">
  <div class="in-time">
    <div>
      <h3>הגשות בזמן</h3>
    </div>
    <div *ngIf="inTime !== undefined">
      <div *ngIf="inTime.length > 0">
        <mat-card class="lector" *ngFor="let lector of inTime">
            <a href="mailto:'lector.email'">
              <button mat-button>שלח תזכורת</button>
            </a>
            <a [routerLink]="['../shifts', lector._id]" > 
              <span>{{lector.firstName}} {{lector.lastName}}</span> 
            </a>
          </mat-card>      
        </div>
      <div *ngIf="inTime.length === 0">
        No Content
      </div>
    </div>
  </div>
  <div class="delayed">
    <div>
      <h3>הגשות מאוחרות</h3>
    </div>
    <div *ngIf="delayed !== undefined">
      <div *ngIf="delayed.length > 0">
        <mat-card class="lector" *ngFor="let lector of delayed">
          <a href="mailto:'lector.email'">
            <button mat-button>שלח תזכורת</button>
          </a>
          <a [routerLink]="['../shifts', lector._id]" > 
            <span>{{lector.firstName}} {{lector.lastName}}</span> 
          </a>
        </mat-card>
      </div>
      <div *ngIf="delayed.length === 0">
        No Content
      </div>
    </div>
  </div>

</mat-card>
<!--    של דיווחים בזמן htmlדף ה  -->
<!--הדף יציג את השמות של מי שדיווח בזמן וצפייה בדו״ח ומי שלא דיווח בזמן גם יופיע וינתן אופציה למנהלת שכר לשלוח מייל-->
<!--תוך צפייה בדוחות-->