<mat-card class="container">
    <div>
        <div class="date"> תאריך עבודה</div>
        <div>{{shift.date}}</div>
    </div>
    <div>
        <div class="headline">שעת התחלה</div>
        <div>{{shift.start}}</div>
    </div>
    <div>
        <div class="end">שעת סיום</div>
        <div>{{shift.end}}</div>
    </div>
    <div>
        <div class="absent">היעדרות מהסיבה הבאה</div>
        <div *ngIf="shift.absent !== 'לא נעדר'; else notAbsent">{{shift.absent}}</div>
        <ng-template #notAbsent></ng-template>
    </div>
    <div class="del" *ngIf="canDelete" (click)="delete()">
        <div class="del_container">
            <div>
                <mat-icon> delete </mat-icon>
            </div>
            <span>מחק עדכון</span>
        </div>
    </div>
</mat-card>
